* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
}
main {
  font-size: 0;
}

.card {
  position: relative;
  width: 327px;
  height: 27.625rem;
  padding: 48px;
  color: #f2f2f2;
  font-size: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .card {
    display: inline-block;
  }
}

.card-orange {
  background-color: #e28625;
  border-radius: 8px 8px 0 0;
}
@media screen and (min-width: 768px) {
  .card-orange {
    border-radius: 8px 0px 0px 8px;
  }
}

.card-blue {
  background-color: #006971;
}

.card-green {
  background-color: #004140;
  border-radius: 0 0 8px 8px;
}
@media screen and (min-width: 768px) {
  .card-green {
    border-radius: 0 8px 8px 0;
  }
}

.card-icon-circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0 0 0 / 0.2);
  margin-bottom: 35px;
}

.card-icon {
  position: absolute;
  top: 11px;
  left: 20px;
}

.card-title {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 2.5rem;
}

.card-text {
  margin-bottom: 25px;
  color: rgb(255 255 255 / 0.75);
  line-height: 1.5625rem;
}

.card-button {
  position: absolute;
  bottom: 3rem;
  padding: 0.6875rem 2rem;
  background-color: #fff;
  border-radius: 25px;
}
@media (hover: hover) {
  .card-button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
}

.card-button-orange {
  color: #e28625;
}

.card-button-blue {
  color: #006971;
}

.card-button-green {
  color: #004140;
}
