* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;

}
.box-1{
  position: relative;
  width: 327px; ;
  height: 441.9975px ;
  background-color:#E28625 ;
}

.sedanimg{
  position: absolute;
  content: '';
  margin-top: 69px;
  margin-left: 59px;
}
.sedan{
  position: absolute;
  content: '';
  color: white;
  top: 100px;
  left: 49px;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 400;

  
}
.parrafo{
  position: absolute;
  content: '';
  color: white;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;

}
.final{
  position: absolute;
  content: '';
  top: 320px;
  left: 40px;
  color: rgb(233, 109, 0);
  margin-left: auto;
  margin-right: auto;
  padding:  15px 30px 15px 30px ;
  background-color:white ;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.circulos{
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.093);
  border-radius: 100%;
  top: 60px;
  left: 40px;

  
}

.box-2{
  position: relative;
  width: 327px; ;
  height: 442px ;
  background-color:#006971 ;
}

.suvsimg{
  position: absolute;
  content: '';
  margin-top: 69px;
  margin-left: 59px;
  
}
.sub{
  position: absolute;
  content: '';
  color: white;
  top: 100px;
  left: 49px;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 400;
}
.parrafo1{
  position: absolute;
  content: '';
  color: white;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;

}
.final1{
  position: absolute;
  content: '';
  top: 320px;
  left: 40px;
  color: #006971;
  margin-left: auto;
  margin-right: auto;
  padding:  15px 30px 15px 30px ;
  background-color:white ;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.circulos2{
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.093);
  border-radius: 100%;
  top: 60px;
  left: 40px;

  
}

.box-3{
  position: relative;
  width: 327px; ;
  height: 442px ;
  background-color:#004140 ;
}

.luxuimg{
  position: absolute;
  content: '';
  margin-top: 69px;
  margin-left: 59px;
}
.luxu{
  position: absolute;
  content: '';
  color: white;
  top: 100px;
  left: 49px;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 400;
}
.parrafo2{
  position: absolute;
  content: '';
  color: white;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;

}
.final2{
  position: absolute;
  content: '';
  top: 320px;
  left: 40px;
  color: #006971;
  margin-left: auto;
  margin-right: auto;
  padding:  15px 30px 15px 30px ;
  background-color:white ;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.circulos3{
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.093);
  border-radius: 100%;
  top: 60px;
  left: 40px;

  
}